<form novalidate name="signupForm" ng-submit="signup(user, signupForm)">
<div class="page-header">
    <h1>Sign up a new user</h1>
</div>
<div class="row voffset-15">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="input-group input-group-lg" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
            <span class="input-group-addon" id="username-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="username-addon" ng-model="user.username" required>
        </div>
        <div ng-show="signupForm.username.$invalid && !signupForm.username.$pristine" class="has-error ">
            <p class="help-block">Username is required.</p>
        </div>
    </div>
</div>
<div class="row voffset-15">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="passwd-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="passwd-addon" ng-model="user.password" required>
        </div>
        <div ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="has-error">
            <p class="help-block">Password is required.</p>
        </div>
    </div>
</div>
<div class="row voffset-15">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="email-addon"><i class="fa fa-envelope fa-fw"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Email" aria-describedby="email-addon" ng-model="user.email" required>
        </div>
        <div ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="has-error">
            <p class="help-block" ng-show="signupForm.email.$error.required">Email is required.</p>
            <p class="help-block" ng-show="signupForm.email.$error.email">Enter a valid email.</p>
        </div>
    </div>
</div>
<div class="row voffset-15">
    <div class="col-sm-offset-3 col-sm-3">
        <button class="btn btn-primary btn-lg btn-block">
            <!--
            ng-click="signup(user, signupForm)">
            -->
            <i class="fa fa-user-plus"></i> Sign Up
        </button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="gotoMenu()">
            <i class="fa fa-ban"></i> Cancel
        </button>
    </div>
</div>
</form>
