<div class="container">
    <div class="page-header">
        <h1>用户注册信息管理界面</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-primary" ng-click="create()">
                <i class="fa fa-plus"></i> New Task
            </button>
        </div>
        <div class="col-sm-offset-6 col-sm-1 text-right">
            <h5><i class="fa fa-user"></i> {{user.username}}<h5>
        </div>
        <div class="col-sm-2 text-right">
            <button class="btn btn-default" ng-click="signout()">
                <i class="fa fa-sign-out"></i> Sign Out
            </button>
        </div>
    </div>

    <div class="row voffset-15">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <tr class="info">
                    <th>#</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Create</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="row in tasks track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{row._id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.deadline}}</td>
                    <td>{{row.create}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="update(row)">
                            <i class="fa fa-pencil-square-o"></i> 
                        </button>
                        <button class="btn btn-primary btn-sm" ng-click="delete(row)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <ul class="pagination">
                    <li class="ng-class: {disabled: pageInfo.pageNo == 0}" ng-click="prev()">
                        <span>
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li class="ng-class:{active: pageInfo.pageNo == n}" ng-repeat="n in [] | range: pageInfo.totalPages" ng-click="goto(n)">
                        <span>{{ n + 1 }}<span class="sr-only" ng-show="pageInfo.pageNo == n">(current)</span></span>
                    </li>
                    <li class="ng-class: {disabled: pageInfo.pageNo >= pageInfo.totalPages}" ng-click="next()">
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
