<div class="container">
    <div class="page-header">
        <h1>用户注册信息管理界面</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-primary" ng-click="create()">
                <i class="fa fa-plus"></i> New Task
            </button>
        </div>
        <div class="col-sm-offset-7 col-sm-2">
            <user-panel token="token"></user-panel>
        </div>
    </div>

    <div class="row voffset-15">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <tr class="info">
                    <th>#</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Create</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="row in tasks track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{row._id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.deadline}}</td>
                    <td>{{row.create}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="update(row)">
                            <i class="fa fa-pencil-square-o"></i> 
                        </button>
                        <button class="btn btn-primary btn-sm" ng-click="delete(row)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <uib-pagination total-items="pageInfo.count" ng-model="pageInfo.pageNo" items-per-page="itemsPerPages" previous-text="&lsaquo;" next-text="&rsaquo;">
            </uib-pagination>
        </div>
    </div>
</div>
